{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Spyke — Interactive Neuron Model</title>

    <meta charset="utf-8">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-55825994-4"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-55825994-4');
    </script>


    <!-- Bootstrap -->
    <link rel="stylesheet" href="{% static 'bootstrap-4.4.1/dist/css/bootstrap.min.css' %}">
    <script src="{% static 'jquery-3.3.1.min.js' %}"> </script>
    <script src="{% static 'bootstrap-4.4.1/dist/js/bootstrap.min.js' %}"> </script>

    <!-- Popper -->
    <script src="{% static 'popper/popper.min.js' %}"> </script>

    <!-- Vue -->
    <script src="{% static 'vue/vue.js' %}"></script>

    <!-- Axios -->
    <script src="{% static 'axios/axios.min.js' %}"></script>

    <!-- FontAwesome -->
    <script src="{% static 'fontawesome-free-5.12.1-web/js/all.js' %}"></script>
   <!--  <link href="{% static 'fontawesome-free-5.12.1-web/css/js.css' %}"></link> -->

    <!-- Google Fonts -->
    <link href="{% static 'fonts/fonts.css' %}" rel="stylesheet">

    <!-- Chart Js -->
    <script src="{% static 'chartjs/chart.js' %}"></script>

    <!-- Cookies JS -->
    <script src="{% static 'cookies/cookies.min.js' %}"></script>

    <!-- jQuery UI -->
    <script src="{% static 'jquery-ui-1.12.1.custom/jquery-ui.js' %}"></script>
    <link rel="stylesheet" href="{% static 'jquery-ui-1.12.1.custom/jquery-ui.css' %}"></link>

    <!-- Panzoom -->
    <script src="{% static 'panzoom/panzoom.min.js' %}"></script>
    
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon_io/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon_io/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon_io/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'favicon_io/site.webmanifest' %}">
    <link rel="android-chrome" sizes="192x192" href="{% static 'favicon_io/android-chrome-192x192.png' %}">
    

</head>
<body>

{% block content %}

{% endblock %}

</body>
</html>