{% extends 'spyke/base.html' %}
{% load static %}

{% block content %}

{% csrf_token %}

<link rel="stylesheet" href="{% static 'spyke/interface.css' %}">

<div id='app'>

    <div id='outer-container'>

        <!-- Header -->
        <div id='header-container'>
            <h1 id='title'>Spyke</h1>

            <div id='control-container'>

                <!-- Save -->
                <div class='control-button-container' @click='savePopup()'>
                    <i id='save-control' class="control fas fa-save"></i>
                    <b class='control-button-label'>Save</b>
                </div>

                <!-- Load -->
                <div class='control-button-container' @click='loadPopup()'>
                    <i id='load-control' class="control fas fa-folder-open"></i>
                    <b class='control-button-label'>Load</b>
                </div>


                <!-- Run control -->
                <div class='control-button-container' @click='runSimulation'>
                    <i id='run-control' class="control fas fa-play-circle"></i>
                    <div v-show='status.runningSim' class="spinner-border text-primary" id='run-control-spinner' role="status">
                      <span class="sr-only">Loading...</span>
                    </div>
                    <b class='control-button-label'>Run</b>
                </div>

                <!-- Refresh -->
                <div class='control-button-container'>
                    <i id='refresh-control' class="control fas fa-sync-alt"></i>
                    <b class='control-button-label'>Refresh</b>
                </div>
            </div>
        </div>

        <!-- Main -->
        <div id='main-container'>

            <!-- Sidebar -->
            <div id='sidebar-container'>

                <h2 class='sidebar-header-main'>Configuration</h2>

                <!-- Sidebar Tabs -->

                <div id='sidebar-tabs-container'>
                    <div class='sidebar-tab'
                         @click='changeSettingsTab("simulation")'
                         v-bind:class="{ active: settingsTab=='simulation' }">
                        <h4 class='sidebar-tab-title'>
                            Simulation
                        </h4>
                    </div>

                    <div class='sidebar-tab'
                         @click='changeSettingsTab("stimuli")'
                         v-bind:class="{ active: settingsTab=='stimuli' }">
                        <h4 class='sidebar-tab-title'>
                            Stimuli
                        </h4>
                    </div>

                    <div class='sidebar-tab'
                         @click='changeSettingsTab("neuron")'
                         v-bind:class="{ active: settingsTab=='neuron' }">
                        <h4 class='sidebar-tab-title'>
                            Neuron
                        </h4>
                    </div>

                    <div class='sidebar-tab'
                         @click='changeSettingsTab("connections")'
                         v-bind:class="{ active: settingsTab=='connections' }">
                        <h4 class='sidebar-tab-title'>
                            Conn
                        </h4>
                    </div>
                </div>

                <!-- Sidebar Sections -->

                <!-- Simulation Section -->
                <div class='sidebar-section' v-if="settingsTab == 'simulation'">

                    <div class='sidebar-header-container'>
                        <h3 class='sidebar-header'>
                            Simulation
                        </h3>
                    </div>

                    <div class='sidebar-section-content'>

                        <div class='buffer'></div>

                        <div class="form-group row sidebar-input-group" v-for='opt in simulationOptions'>
                            <div class='col-8'>
                                <label v-bind:for="opt.attribute" class='row sidebar-input-label'>[[opt.label]]</label>
                                <small v-bind:id="opt.attribute + 'Help'" class="form-text text-muted sidebar-input-help row">[[opt.helptext]]</small>
                            </div>
                            <div class='col-4'>
                                <input type="number" class="form-control sidebar-input-number" v-bind:id="opt.attribute" v-model="simulation[opt.attribute]">
                            </div>
                        </div>


                          <div class='button-container'>
                            <!-- <button class='btn btn-success' @click='runSimulation'>Run</button> -->
                          </div>

                    </div>
                </div>

                <!-- Stimulus Section -->
                <div class='sidebar-section' v-if="settingsTab == 'stimuli'">

                    <h3 class='sidebar-header'>Stimuli</h3>

                    <div class='sidebar-section-content'>

                        <div v-for='(stim, index) in stimuli' class='config-item-container'>

                            <div class='config-item-header-container' onclick="toggleHideNext(this);">
                                <h5 class='config-item-header'>
                                [[ stim.name ]]
                                </h5>
                                
                                <div class='config-item-header-delete-container' @click="removeStimulus(index)">
                                    <i class="fas fa-times-circle close-icon" ></i>
                                </div>

                                <div class='config-item-header-options-container'>
                                    <i class="fas fa-ellipsis-v"></i>
                                </div>
                            </div>

                            <div class='config-item-body-container collapse'>

                                <div class="form-group row sidebar-input-group">
                                    <div class='col-6'>
                                        <label class='row sidebar-input-label' for="stim-neuron">Neuron</label>
                                        <small id="stim-neuron-help" class="form-text text-muted sidebar-input-help row">Neuron to attach stim to</small>
                                    </div>
                                    <div class='col-6'>
                                        <select class="form-control" id="stim-neuron" v-model="stim.neuron">
                                            <option v-for='neuron in neurons' v-bind:value='neuron.gid'>
                                                Neuron [[neuron.gid]]
                                            </option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group row sidebar-input-group">
                                    <div class='col-6'>
                                        <label class='row sidebar-input-label' for="stim-sec">Section</label>
                                        <small id="stim-sec-help" class="form-text text-muted sidebar-input-help row">Section to attach stim to</small>
                                    </div>
                                    <div class='col-6'>
                                        <select class="form-control" id="stim-sec" v-model="stim.section">
                                            <option v-for='sec in getSections(stim.neuron)' v-bind:value='sec'>
                                                [[sec]]
                                            </option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group row sidebar-input-group">
                                    <div class='col-8'>
                                        <label for="stim-loc" class='row sidebar-input-label'>Location</label>
                                        <small id="stim-locHelp" class="form-text text-muted sidebar-input-help row">Location of stimulus on segment</small>
                                    </div>
                                    <div class='col-4'>
                                        <input type="number" class="form-control sidebar-input-number" id="stim-loc" v-model="stim.loc" min="0" max="1" step="0.1">
                                    </div>
                                </div>

                                <div class="form-group row sidebar-input-group" v-for='opt in stim.parameters'>
                                    <div class='col-8'>
                                        <label v-bind:for="opt.name" class='row sidebar-input-label'>[[opt.title]]</label>
                                        <small v-bind:id="opt.name + 'Help'" class="form-text text-muted sidebar-input-help row" v-html="opt.help"></small>
                                    </div>
                                    <div class='col-4'>
                                        <input type="number" class="form-control sidebar-input-number" v-bind:id="opt.attribute" v-model="opt.value" v-bind:step="opt.step">
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class='new-config-item-container'>

                            <div class='new-config-item-select-container'>

                                <select class='form-control new-config-item-select' v-model='selectedStimulus'>

                                    <option v-for='stimulus in availableStimuli' :value='stimulus.name'>
                                        [[stimulus.title]]
                                    </option>

                                </select>

                            </div>

                            <button class='new-config-item btn' @click='addStimulus(selectedStimulus)'>
                                +
                            </button>

                        </div>

                    </div>

                </div>

                <!-- Neuron Section -->
                <div class='sidebar-section' v-if="settingsTab == 'neuron'">

                    <h3 class='sidebar-header'>Neurons</h3>

                    <div class='sidebar-section-content'>

                        <div class='config-item-container' v-for='(neuron, index) in neurons'>

                            <div class='config-item-header-container' onclick="toggleHideNext(this);">
                                <h5 class='config-item-header'>
                                Neuron [[neuron.gid]]
                                </h5>
                                
                                <div class='config-item-header-delete-container' @click="removeNeuron(index)">
                                    <i class="fas fa-times-circle close-icon" ></i>
                                </div>

                                <div class='config-item-header-options-container'>
                                    <i class="fas fa-ellipsis-v"></i>
                                </div>
                            </div>

                            <div class='config-item-body-container collapse'>

                                <!-- General -->
                                <div class='sidebar-section-heading-container' onclick="toggleHideNext(this);">
                                    <h4 class='sidebar-section-heading'>General</h4>
                                </div>

                                <div class='sidebar-section-body-container collapse'>

                                    <div class="form-group row sidebar-input-group">
                                        <div class='col-8'>
                                            <label for="Ra" class='row sidebar-input-label'>Axial resistance</label>
                                            <small id="RaHelp" class="form-text text-muted sidebar-input-help row">Ohm * cm</small>
                                        </div>
                                        <div class='col-4'>
                                            <input type="number" class="form-control sidebar-input-number" id="Ra" v-model="neuron.general.Ra">
                                        </div>
                                    </div>

                                    <div class="form-group sidebar-input-group row">
                                        <div class='col-8'>
                                            <label class='row sidebar-input-label' for="cm">Membrane capacitance</label>
                                            <small id="cmHelp" class="form-text text-muted sidebar-input-help row">Micro Farads / cm<sup>2</sup></small>
                                        </div>
                                        <div class='col-4'>
                                            <input type="number" class="form-control sidebar-input-number" id="cm" v-model="neuron.general.cm">
                                        </div>
                                    </div>

                                    <!-- <div class="form-group sidebar-input-group row">
                                        <div class='col-8'>
                                            <label class='row sidebar-input-label' for="syn-tau">Synapse Tau</label>
                                            <small id="syn-tauHelp" class="form-text text-muted sidebar-input-help row">Decay time constant (ms)</small>
                                        </div>
                                        <div class='col-4'>
                                            <input type="number" class="form-control sidebar-input-number" id="syn-tau" v-model="neuron.synapse.tau">
                                        </div>
                                    </div> -->
                                </div>

                                <!-- Soma -->
                                <div class='sidebar-section-heading-container' onclick="toggleHideNext(this);">
                                    <h4 class='sidebar-section-heading'>Soma</h4>
                                </div>

                                <div class='sidebar-section-body-container collapse'>

                                    <div class="form-group sidebar-input-group row">
                                        <div class='col-8'>
                                            <label class='row sidebar-input-label' for="soma-length">Length</label>
                                            <small id="soma-lengthHelp" class="form-text text-muted sidebar-input-help row">Microns</small>
                                        </div>
                                        <div class='col-4'>
                                            <input type="number" class="form-control sidebar-input-number" id="soma-length" v-model="neuron.soma.L">
                                        </div>
                                    </div>

                                    <div class="form-group sidebar-input-group row">
                                        <div class='col-8'>
                                            <label class='row sidebar-input-label' for="soma-diam">Diameter</label>
                                            <small id="soma-diamHelp" class="form-text text-muted sidebar-input-help row">Microns</small>
                                        </div>
                                        <div class='col-4'>
                                            <input type="number" class="form-control sidebar-input-number" id="soma-diam" v-model="neuron.soma.diam">
                                        </div>
                                    </div>

                                    <!-- Channels -->
                                    <div class='sidebar-input-group-container' v-for='channel in neuron.soma.channels'>

                                        <div class='sidebar-input-group-boundary'>
                                        </div>

                                        <div class='sidebar-section-subheading-container'>

                                            <h5 class='sidebar-section-subheading'> [[channel.title]]</h5>

                                            <div class='sidebar-section-subheading-icon-container' @click="removeChannel(neuron, 'soma', channel.name)">
                                                <i class="fas fa-times-circle close-icon" ></i>
                                            </div>

                                            <div class='sidebar-section-subheading-icon-container'>
                                                <!-- <i class="fas fa-chevron-down"></i> -->
                                            </div>

                                        </div>

                                        <div class="form-group row sidebar-input-group" v-for='param in channel.parameters'>
                                            <div class='col-7'>
                                                <label v-bind:for="param.name" class='row sidebar-input-label'>[[param.title]]</label>
                                                <small v-bind:id="param.name + 'Help'" class="form-text text-muted sidebar-input-help row" v-html="param.help"></small>
                                            </div>
                                            <div class='col-5'>
                                                <input type="number" class="form-control sidebar-input-number" v-bind:step="param.step" v-bind:id="param.name" v-model="param.value">
                                            </div>
                                        </div>
                                    </div>

                                    <div class='sidebar-input-group-boundary'>
                                    </div>

                                    <div class="form-group row sidebar-input-group">
                                        <div class='col-8'>
                                            <select class="form-control" id="newChannel" v-model="neuron['soma'].data.selectedChannel">
                                                <option v-for="channel in availableChannels(neuron.gid, 'soma')" v-bind:value='channel.name'>
                                                    [[channel.title]]
                                                </option>
                                            </select>
                                        </div>
                                        <div class='col-4'>
                                            <button class='addChannel btn' @click="addChannel(neuron, 'soma')">+
                                            </button>
                                        </div>
                                    </div>


                                </div>

                                <!-- Axon -->
                                <div class='sidebar-section-heading-container' onclick="toggleHideNext(this);">
                                    <h4 class='sidebar-section-heading'>Axon</h4>
                                </div>

                                <div class='sidebar-section-body-container collapse'>

                                    <div class="form-group row sidebar-input-group" v-for='opt in sectionOptions'>
                                        <div class='col-7'>
                                            <label v-bind:for="opt.attribute" class='row sidebar-input-label'>[[opt.label]]</label>
                                            <small v-bind:id="opt.attribute + 'Help'" class="form-text text-muted sidebar-input-help row">[[opt.helptext]]</small>
                                        </div>
                                        <div class='col-5'>
                                            <input type="number" class="form-control sidebar-input-number" v-bind:step="opt.step" v-bind:id="opt.attribute" v-model="neuron.axon[opt.attribute]">
                                        </div>
                                    </div>

                                    <!-- Channels -->
                                    <div class='sidebar-input-group-container' v-for='channel in neuron.axon.channels'>

                                        <div class='sidebar-input-group-boundary'>
                                        </div>

                                        <div class='sidebar-section-subheading-container'>

                                            <h5 class='sidebar-section-subheading'> [[channel.title]]</h5>

                                            <div class='sidebar-section-subheading-icon-container' @click="removeChannel(neuron, 'axon', channel.name)">
                                                <i class="fas fa-times-circle close-icon" ></i>
                                            </div>

                                            <div class='sidebar-section-subheading-icon-container'>
                                                <!-- <i class="fas fa-chevron-down"></i> -->
                                            </div>

                                        </div>

                                        <div class="form-group row sidebar-input-group" v-for='param in channel.parameters'>
                                            <div class='col-7'>
                                                <label v-bind:for="param.name" class='row sidebar-input-label'>[[param.title]]</label>
                                                <small v-bind:id="param.name + 'Help'" class="form-text text-muted sidebar-input-help row" v-html="param.help"></small>
                                            </div>
                                            <div class='col-5'>
                                                <input type="number" class="form-control sidebar-input-number" v-bind:step="param.step" v-bind:id="param.name" v-model="param.value">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group row sidebar-input-group">
                                        <div class='col-8'>
                                            <select class="form-control" id="newChannel" v-model="neuron['axon'].data.selectedChannel">
                                                <option v-for="channel in availableChannels(neuron.gid, 'axon')" v-bind:value='channel.name'>
                                                    [[channel.title]]
                                                </option>
                                            </select>
                                        </div>
                                        <div class='col-4'>
                                            <button class='addChannel btn' @click="addChannel(neuron, 'axon')">+
                                            </button>
                                        </div>
                                    </div>


                                </div>

                                <!-- Dendrite -->
                                <div class='sidebar-section-heading-container' onclick="toggleHideNext(this);">
                                    <h4 class='sidebar-section-heading'>Dendrites</h4>
                                </div>

                                <div class='sidebar-section-body-container collapse'>

                                    <div v-for='(dend, dendriteIndex) in neuron.dendrites'>

                                        <div class='sidebar-section-subheading-container'>

                                            <h5 class='sidebar-section-subheading'>Dendrite [[dend.gid]]</h5>

                                            <div class='sidebar-section-subheading-icon-container' @click="removeDendrite(neuron.gid, dendriteIndex)">
                                                <i class="fas fa-times-circle close-icon" ></i>
                                            </div>

                                            <div class='sidebar-section-subheading-icon-container'>
                                                <!-- <i class="fas fa-chevron-down"></i> -->
                                            </div>

                                        </div>

                                        <div class="form-group row sidebar-input-group" v-for='opt in sectionOptions'>
                                            <div class='col-7'>
                                                <label v-bind:for="opt.attribute" class='row sidebar-input-label'>[[opt.label]]</label>
                                                <small v-bind:id="opt.attribute + 'Help'" class="form-text text-muted sidebar-input-help row">[[opt.helptext]]</small>
                                            </div>
                                            <div class='col-5'>
                                                <input type="number" class="form-control sidebar-input-number" v-bind:step="opt.step" v-bind:id="opt.attribute" v-model="dend[opt.attribute]">
                                            </div>
                                        </div>

                                        <!-- Channels -->
                                        <div class='sidebar-input-group-container' v-for='channel in dend.channels'>

                                            <div class='sidebar-input-group-boundary'>
                                            </div>

                                            <div class='sidebar-section-subheading-container'>

                                                <h5 class='sidebar-section-subheading'> [[channel.title]]</h5>

                                                <div class='sidebar-section-subheading-icon-container' @click="removeChannel(neuron, 'dendrite-'+dend.gid, channel.name)">
                                                    <i class="fas fa-times-circle close-icon" ></i>
                                                </div>

                                                <div class='sidebar-section-subheading-icon-container'>
                                                    <!-- <i class="fas fa-chevron-down"></i> -->
                                                </div>

                                            </div>

                                            <div class="form-group row sidebar-input-group" v-for='param in channel.parameters'>
                                                <div class='col-7'>
                                                    <label v-bind:for="param.name" class='row sidebar-input-label'>[[param.title]]</label>
                                                    <small v-bind:id="param.name + 'Help'" class="form-text text-muted sidebar-input-help row" v-html="param.help"></small>
                                                </div>
                                                <div class='col-5'>
                                                    <input type="number" class="form-control sidebar-input-number" v-bind:step="param.step" v-bind:id="param.name" v-model="param.value">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group row sidebar-input-group">
                                            <div class='col-8'>
                                                <select class="form-control" id="newChannel" v-model="dend.data.selectedChannel">
                                                    <option v-for="channel in availableChannels(neuron.gid, 'dendrite-'+dend.gid)" v-bind:value='channel.name'>
                                                        [[channel.title]]
                                                    </option>
                                                </select>
                                            </div>
                                            <div class='col-4'>
                                                <button class='addChannel btn' @click="addChannel(neuron, 'dendrite-'+dend.gid)">+
                                                </button>
                                            </div>
                                        </div>

                                    </div>
                                    
                                    <div class='sidebar-section-body-footer'>
                                        <a id='addSection' @click='addDendrite(index)'>Add Dendrite</a>
                                    </div>
                                </div>
                            </div>
                            <!-- Neuron Body container -->

                        </div>

                        <div class='new-config-item-container'>

                            <button class='new-config-item btn' @click='addNeuron'>
                                +
                            </button>

                        </div>
                    </div>

                </div>

                <!-- Connection Section -->
                <div class='sidebar-section' v-if="settingsTab == 'connections'">

                    <h3 class='sidebar-header'>Connections</h3>

                    <div class='sidebar-section-content'>

                        <div v-for='(connection, index) in connections' class='config-item-container'>

                            <div class='config-item-header-container' onclick="toggleHideNext(this);">
                                <h5 class='config-item-header'>
                                Connection [[index + 1]]
                                </h5>
                                
                                <div class='config-item-header-delete-container' @click="removeConnection(index)">
                                    <i class="fas fa-times-circle close-icon" ></i>
                                </div>

                                <div class='config-item-header-options-container'>
                                    <i class="fas fa-ellipsis-v"></i>
                                </div>
                            </div>

                            <div class='config-item-body-container collapse'>

                                <div class="form-group sidebar-input-group row">
                                    <div class='col-4'>
                                        <label class='row sidebar-input-label' for="connection-source">Source</label>
                                        <small id="connection-source-help" class="form-text text-muted sidebar-input-help row">Source neuron</small>
                                    </div>
                                    <div class='col-8'>
                                        <select class="form-control" id="connection-source" v-model="connection.source" @change='drawConnections'>
                                            <option v-for='neuron in neurons' v-bind:value='neuron.gid'>
                                                Neuron [[neuron.gid]]
                                            </option>
                                        </select>
                                    </div>
                                    
                                </div>

                                <!-- `Section -->
                                <div class="form-group sidebar-input-group row">
                                    <div class='col-4'>
                                        <label class='row sidebar-input-label' for="connection-target">Target</label>
                                        <small id="connection-target-help" class="form-text text-muted sidebar-input-help row">Target neuron</small>
                                    </div>
                                    <div class='col-8'>
                                        <select class="form-control" id="connection-target" v-model="connection.target" @change='drawConnections'>
                                            <option v-for='neuron in neurons' v-bind:value='neuron.gid'>
                                                Neuron [[neuron.gid]]
                                            </option>
                                        </select>
                                    </div>
                                        
                                </div>

                                <!-- Location -->
                                <div class="form-group row sidebar-input-group">
                                    <div class='col-6'>
                                        <label class='row sidebar-input-label' for="con-sec">Section</label>
                                        <small id="con-sec-help" class="form-text text-muted sidebar-input-help row">Section to synapse on</small>
                                    </div>
                                    <div class='col-6'>
                                        <select class="form-control" id="con-sec" v-model="connection.section">
                                            <option v-for='sec in getSections(connection.target)' v-bind:value='sec'>
                                                [[sec]]
                                            </option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group row sidebar-input-group">
                                    <div class='col-8'>
                                        <label for="con-loc" class='row sidebar-input-label'>Location</label>
                                        <small id="con-locHelp" class="form-text text-muted sidebar-input-help row">Location of synapse on section</small>
                                    </div>
                                    <div class='col-4'>
                                        <input type="number" class="form-control sidebar-input-number" id="con-loc" v-model="connection.loc" min="0" max="1" step="0.1">
                                    </div>
                                </div>

                                <div class="form-group row sidebar-input-group" v-for='opt in connectionOptions'>
                                    <div class='col-7'>
                                        <label v-bind:for="opt.attribute" class='row sidebar-input-label'>[[opt.label]]</label>
                                        <small v-bind:id="opt.attribute + 'Help'" class="form-text text-muted sidebar-input-help row">[[opt.helptext]]</small>
                                    </div>
                                    <div class='col-5'>
                                        <input type="number" class="form-control sidebar-input-number" v-bind:id="opt.attribute" v-model="connection[opt.attribute]">
                                    </div>
                                </div>
                            </div>

                        </div>
                        

                        <div class='new-config-item-container'>

                            <button class='new-config-item btn' @click='addConnection'>
                                +
                            </button>

                        </div>

                    </div>

                </div>


            </div>
            <!-- End Sidebar -->

            <!-- Content -->
            <div id='content-container'>

                <!-- Canvas -->
                <div id='canvas-container'>

                    <svg width=100% height=100% id='svg-canvas' onmousemove="updateCoords(event)">

                        <defs>

                            <radialGradient id="soma-gradient">
                              <stop offset="5%" stop-color="#cccccc00"></stop>
                              <stop offset="55%" stop-color="#cccccc55"></stop>
                              <stop offset="85%" stop-color="#cccccccc"></stop>
                              <stop offset="100%" stop-color="#cccccc"></stop>
                            </radialGradient>

                            <filter id="shadow2">
                                  <feDropShadow dx="0" dy="0" stdDeviation="3" 
                                      flood-color="#0000ff55"/>
                                </filter>

                        </defs>

                        <g id='svg-canvas-inner'>

                            <circle id='point-circle' cx="0px" cy="0px" r="5px"></circle>

                            <line x1="-5000" x2="5000" y1="0" y2="0" stroke='#cccccccc' stroke-width="1"></line>

                            <line y1="-5000" y2="5000" x1="0" x2="0" stroke='#cccccccc' stroke-width="1"></line>

                            <svg v-for='neuron in neurons' v-bind:x='neuron.x' v-bind:y='neuron.y' v-html='svgData.innerHTML' width="150px" height="150px" v-bind:id="'neuron-' + neuron.gid" class='neuron-container' viewBox="0 0 26.458332 26.458334">

                            <!-- <circle cx="100px" cy="100px" r="5px" id='point'></circle> -->

                            <!-- <svg class='neuron-container' x="100px" y="100px">

                                <circle class='soma' cx="100px" cy="100px" r="25px"/>

                                  <path class='axon'
                                  d="M 95 125 
                                     q -30 20, 1 40 
                                     t 1 40
                                     h5
                                     q 30 -20, 1 -40
                                     t 1 -40
                                     z" fill='#ccc'/>

                                    <path class='dendrite'
                                  d="M 105 75 
                                     q 15 -10, -1 -20 
                                     t -1 -20
                                     h-1
                                     q -15 10, -1 20
                                     t -1 20
                                     z" fill='#ccc'/>
                            </svg>
 -->
                        </g>

                    </svg>

                    <div id='canvas-coord-container'>
                        <span id='canvas-coords'></span>
                    </div>

                </div>

                <!-- Monitor -->

                <div id='monitor-container'>

                    <div id='monitor-nav'>

                        <div id='monitor-nav-title-container'>
                            <h2 id='monitor-title'>Monitor</h2>
                        </div>

                        <div class='monitor-tabs-container'>
                            <div v-for='view in views' class='monitor-tab-container'>
                                <div class='monitor-tab' v-bind:class="{ active: monitorTab == view}" @click="changeMonitorTab(view)">
                                    <h4 class='monitor-tab-title' v-html="(chartKey[view] || {}).label"></h4>
                                </div>
                            </div>

                        </div>

                    </div>

                    <div v-if="monitorTab == 'spikes'" id='spike-container'>

                        <div id="spike-upper" class="row">

                            <div class='col' id='spike-y-axis'>

                                <div v-for="(secs, neuron, idx) in recording.views.spikes" class='row spike-row'>
                                    <h5 class='spike-row-title'>
                                        [[neuron]]
                                    </h5>
                                </div>

                            </div>

                            <div class='col' id='spike-main-container'>

                                <div v-for="(secs, neuron, idx) in recording.views.spikes" class='row spike-row'>
                                        <div class='spike-row-data' v-for="spike in secs.soma" :style="{left: getTimeProp(spike), color: colors[idx]}"><span>|</span>
                                            <div class='spike-tooltip'>
                                                [[Math.round(spike)]]ms
                                            </div>
                                        </div>
                                </div>

                            </div>
                        </div>

                        <div id='spike-x-axis' class="row">
                            <div id='spike-x-axis-left'></div>
                            <div id='spike-x-axis-ticks-container'>
                                <div id='spike-x-axis-ticks'>
                                    <div class='spike-x-axis-tick' v-for='tick in xticks'>
                                        [[tick]]
                                    </div>

                                </div>
                                <div id='spike-x-axis-label'>
                                    Time (ms)
                                </div>
                            </div>
                        </div>

                    </div>

                    <canvas v-else id="monitor-canvas" width="100%" height="300px"></canvas>

                </div>

            </div>

        </div>
        <!-- End Main Container -->

    </div>
    <!-- End Outer Container -->

    <div id='popup-container' class='hide'>

        <!-- Save Popup -->
        <div id='save-popup-container' class='popup-container' v-show='popups.save'>
            
            <div id='save-popup' class='popup'>

                <!-- Header -->
                <div id='save-popup-header-container' class='popup-header-container'>
                    <h5 id='save-popup-header' class='popup-header'>Save Simulation
                    </h5>
                </div>

                <!-- Body -->
                <div id='save-popup-body-container' class='popup-body-container'>

                    <div id='save-popup-body' class='popup-body'>

                        <div class='form-row row popup-input-container'>

                            <div class='col-4'>

                                <label for='save-popup-filename'>Save as</label>
                            </div>

                            <div class='col-8'>

                                <input type='text' id='save-popup-filename' class='popup-form-input form-control' v-model='save.filename'>

                            </div>

                        </div>
                        
                        <div class='popup-button-container'>

                            <button type='button' class='btn popup-button cancel' @click='savePopup(false)'>Cancel</button>

                            <button type='button' class='btn popup-button save' @click='saveSimulation'>Save</button>
                            

                        </div>

                    </div>


                </div>

            </div>
        </div>
        <!-- End Save Popup -->

        <!-- Load Popup -->
        <div id='load-popup-container' class='popup-container' v-show='popups.load'>
            
            <div id='load-popup' class='popup'>

                <!-- Header -->
                <div id='load-popup-header-container' class='popup-header-container'>
                    <h5 id='load-popup-header' class='popup-header'>Load Simulation
                    </h5>
                </div>

                <!-- Body -->
                <div id='load-popup-body-container' class='popup-body-container'>

                    <div id='load-popup-body' class='popup-body'>

                        <div id='load-popup-selector'>

                            <div v-for='file in savedFiles'>

                                <div class='saved-file' :class="{ selected: load.selected == file.name}" @click='load.selected = file.name'>

                                    <h6 class='saved-file-name'>
                                        [[file.name]]
                                    </h6>

                                </div>

                            </div>

                        </div>
                        
                        <div class='popup-button-container'>

                            <button type='button' class='btn popup-button cancel' @click='loadPopup(false)'>Cancel</button>

                            <button type='button' class='btn popup-button save' @click='loadSimulation'>Load</button>
                            

                        </div>

                    </div>


                </div>

            </div>
        </div>
        <!-- End Load Popup -->

        <!-- Neuron editor Popup -->
        <div id='editor-popup-container' class='popup-container' v-show='popups.editor'>
            
            <div id='editor-popup' class='popup'>

                <!-- Header -->
                <div id='editor-popup-header-container' class='popup-header-container'>
                    <h5 id='editor-popup-header' class='popup-header'>Neuron Editor
                    </h5>
                </div>

                <!-- Content -->

                <div id='editor-popup-content-container'>

                    <!-- Sidebar -->
                    <div id='editor-popup-sidebar-container' class='popup-body-container editor-section'>

                        <div id='editor-popup-sidebar' class='popup-body'>

                            <div class='editor-sidebar-panel' id='editor-sidebar-panel-1' :class="{ active : editor.primary == '' }">

                                <div class='editor-sidebar-item-container' v-for='section in getSections(editor.neuron)' @click='editorSelect(section, $event)' :class="{active: editor.selection.includes(section)}">

                                    <div class='editor-sidebar-item'>
                                        [[section]]

                                    </div>

                                </div>

                            </div>

                        </div>
                    </div>

                    <!-- Parameters -->
                    <div id='editor-popup-params-container' class='popup-body-container editor-section'>

                        <div id='editor-popup-params' class='popup-body'>

                        </div>
                    </div>

                    <!-- Body -->
                    <div id='editor-popup-body-container' class='popup-body-container editor-section'>

                        <div id='editor-popup-body' class='popup-body'>

                            <svg id='editor-neuron-display' v-html='svgData.innerHTML' width="300px" height="300px"   viewBox="0 0 26.458332 26.458334">

                        </div>


                    </div>
                    <!-- End body -->

                </div>
                <!-- End content -->

            </div>
        </div>
        <!-- End Editor Popup -->

    </div>

    <!-- Toast Container -->
    <div id='toast-container'>
        <!-- Then put toasts within -->
            <div class="toast show" role="alert" aria-live="assertive" aria-atomic="true" v-for='toast in toasts' :id="'toast-'+toast.gid">
              <div class="toast-header">
                <!-- <img src="..." class="rounded mr-2" alt="..."> -->
                <strong class="mr-auto" :class="'text-'+toast.level">[[toast.title]]</strong>
                <small class="text-muted toast-subtitle">[[toast.subtitle]]</small>
                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="toast-body">

                <div class='toast-section' v-for='(val, key, index) in toast.messages'>
                    <h5 class='toast-section-header'>[[key]]</h5>
                    <ul>
                        <li v-for='msg in val'>[[msg]]</li>
                    </ul>
              </div>

              [[toast.message]]
            </div>
        </div>

    </div>
  
</div>  

<template id="neuron-template">
</template>

<script src="{% static 'spyke/data.js' %}"> </script>

<script src="{% static 'spyke/interface.js' %}"> </script>

{% endblock %}