
:root {
  --top-menu-height: 70px; 
  /*--primary: #7200c3;*/
  --primary: #36005d;
  --secondary: #ff8500;
  --dark: #333333;
  /*--dark: #36005d;*/
  --darkish: #555555;
  /*--darker: #222222;*/
  --darker: #24003e;
  /*--darkest: #111111;*/
  --darkest: #130021;
  --light: #e2e2e2;

}

* {
   font-family: 'Source Sans Pro', sans-serif;
}

html {
    height:100%;
    width:100%;
}

body {
    height:100%;
    width:100%;
}

/* Layout */

#app {
    height:100%;
    width:100%;
}

#outer-container {
    height:100%;
    width:100%;
    display:flex;
    flex-direction: column;
}

#header-container {
    width:100%;
    height: var(--top-menu-height);
    box-shadow: 2px 2px 2px 1px #ccccccad;
    flex:0 0 var(--top-menu-height);
    display:flex;
    justify-content: space-between;
}

#main-container {
    flex: 1 1 auto;
    display:flex;
    min-height: 0;
}

#sidebar-container {
    width:300px;
    height:100%;
    box-shadow: 2px 2px 2px 2px #ccccccad;
    flex: 0 0 300px;
    display: flex;
    flex-direction: column;
}

#content-container {
    flex:1 1 auto;
    display: flex;
    flex-direction: column;
    min-width: 0;
}

#canvas-container {
    flex: 1 1 100%;
    border:1px solid #ccc;
    display:flex;
    box-shadow: inset 1px 1px 4px 2px #cccccccc;
    overflow:scroll;
}

#monitor-container {
    flex: 0 0 332px;
    border:1px solid #ccc;
    height:332px;
}

#monitor-canvas {
    height:300px;
    max-height: 300px;
}

/* Header */

#title {
    font-family: 'Jaldi', sans-serif;
    color: #fff;
    font-size: 3em;
    font-weight: bold;
    /* text-shadow: 2px 2px 3px #23157d96; */
    margin-left: 17px;
    /* -webkit-text-stroke: 1px #cccccc8f; */
    cursor: pointer;
    color: var(--dark);
    /* background: -webkit-linear-gradient(#eee, #333); */
    /* -webkit-background-clip: text; */
    /* -webkit-text-fill-color: transparent; */
    /* background: url(#soma-gradient); */
    /* filter: url(#soma-gradient); */
}

#control-container {
    display: flex;
}

.control-button-container {
    display: flex;
    flex-direction: column;
    width: 80px;
    align-items: center;
}

.control-button-label {
    color:#444;
}

#run-control {
    margin-top:0.5rem;
    font-size:2.4rem;
    color:var(--primary);
    cursor:pointer;
    transition:0.5s;
    opacity:0.8;
}

#run-control:hover {
    /*color:#00bf2c;*/
    opacity:1;
    box-shadow: 0px 0px 2px 1px var(--primary);
    border-radius: 50%;
}

#refresh-control {
    margin-top:0.5rem;
    font-size:2.4rem;
    color:var(--dark);
    cursor:pointer;
    transition:0.5s;
}

#refresh-control:hover {
    color:#000;
    transform:rotate(180deg);
}

/* Sidebar Tabs */

#sidebar-tabs-container {
    display: flex;
    background: #fff;
    border-bottom: 1px solid #ccc;
    padding-left: 3px;
    background: #d9d6d624;
    /*background: var(--dark);*/
}

.sidebar-tab {
    background: white;
    padding: 0px 5px;
    margin-top: 2px;
    border-radius: 5px 5px 0px 0px;
    box-shadow: 1px -1px 1px 0px #ccc;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    margin-right: 2px;
    cursor:pointer;
    color:var(--darkish);
    padding: 3px 7px 0px 7px;
}

.sidebar-tab:hover {
    background: #eeeeee;
}

.sidebar-tab.active {
    margin-bottom: -1px;
    font-weight: bold;
    color: white;
    background: var(--dark);
}

.sidebar-tab-title {
    font-size: 1.1em;
    margin-bottom: 0px;
}

/* Sidebar Sections */

.sidebar-header-main {
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: .5rem;
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--dark);
    font-family: inherit;
    background: #d9d6d624;
}

.sidebar-header {
    font-size: 1.4rem;
    font-weight: 600;
    color: white;
    padding: 10px 5px 10px 5px;
    border-bottom: 1px solid #ccccccdb;
    box-shadow: 0px 2px 4px 0px #cccccc6b;
    margin-bottom: 0px;
    background: var(--dark);
}

.sidebar-section {
    min-height: 0;
    display: flex;
    flex-direction: column;
}

.sidebar-section-heading {
    font-size: 1.4rem;
    color: var(--darker);
    /*color: var(--primary);*/
    font-weight: 600;
    padding: 0px 10px 0px 10px;
}

.sidebar-section-subheading {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--darker);
    /*color: var(--primary);*/
    padding: 0px 10px 0px 10px;
}

.sidebar-section-content {
    overflow-y: scroll;
}

.sidebar-input-group {
    padding: 0px 13px;
}

/* Stimulus */


.stimulus-container {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 5px 5px;
    margin-bottom: 15px;
    margin: 7.5px 10px 7.5px 10px;
}


.stimulus-header-container {
    display: flex;
    justify-content: space-between;
}

.stimulus-header {
    font-weight: 600;
    padding: 5px 10px 0px 10px;
    margin-bottom: 0.25em;
    font-size: 1.2rem;
    color: var(--darker);
}

.close-icon {
    color: #dc3545;
    cursor:pointer;
    margin:5px;
}

.close-icon:hover {
    color: #f51026;
}

.new-stim-container {
    float: right;
    margin-right: 10px;
}

.new-stim {
    background: var(--primary);
    opacity:0.9;
    color:white;
}

.new-stim:hover {
    opacity:1;
}

/* Neuron sidebar */

.buffer {
    margin-top:10px;
}


/* Canvas */

#canvas-coord-container {
    position: absolute;
    right: 3px;
    bottom: 333px;
    color: #888;
    pointer-events: none;
    font-size: 0.8rem;
}


/* Neurons */

.soma {
    fill:url("#soma-gradient");
    cursor:pointer;
}

.axon {
    cursor:pointer;
}

.dendrite {
    cursor:pointer;
}

.axon:hover {
    filter:url("#shadow2");
}

.soma:hover {
    filter:url("#shadow2");
}

.dendrite:hover {
    filter:url("#shadow2");
}

/* Monitor */

#monitor-nav {
    background: var(--dark);
    display: flex;
}

#monitor-nav-title-container {
    flex: 0 0 auto;
    padding: 0px 10px 0px 12px;
    margin-right: 10px;
}

#monitor-title {
    color: white;
    font-size: 1.4rem;
    font-weight: 600;
    margin-bottom: 0px;
    padding: 5px 0px 5px 0px;
}

.monitor-tabs-container {
    display: flex;
    min-width: 0;
    overflow-x: scroll;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.monitor-tabs-container::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE and Edge */
.monitor-tabs-container {
  -ms-overflow-style: none;
}

.monitor-tab-container {
    margin-top: 3px;
    margin-bottom: 0px;
}

.monitor-tab {
    border-radius: 5px 5px 0px 0px;
    box-shadow: 2px -2px 1px 1px #0000002b;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    margin-right: 4px;
    cursor: pointer;
    color: var(--darker);
    padding: 6px 8px 0px 8px;
    background: #dddddd;
    height: 100%;
    margin-bottom: 0px;
}

.monitor-tab.active {
    background: #ffffff;
    color:black;
}

.monitor-tab.active:hover {
    background: #ffffff;
    color:black;
}

.monitor-tab:hover {
    background: var(--light);
    color:var(--darkest);
}

.monitor-tab-title {
    font-size: 1rem;
    margin-bottom: 0px;
    white-space: nowrap;
}
